html, body, #root {
  height: 100%;
  margin: 0;
  color: white;
}

.ant-layout {
  height: 100%;
}

.ant-layout-sider {
  height: 100vh;
}

.ant-layout-content {
  overflow: auto;
  height: calc(100vh - 64px); /* Kurangi tinggi header */
}

/* Mengatur warna elemen menu yang dipilih */
.ant-menu-item-selected {
  background-color: #009233 !important; /* Warna hijau */
  color: white !important; /* Warna teks */
}

/* Opsional: Mengatur warna ikon */
.ant-menu-item-selected .anticon {
  color: white !important; /* Warna ikon */
}

ul.ant-menu{
  background: #1D1E21;
}

header.ant-layout-header{
  background: #1D1E21;
}