html, body, #root {
  height: 100%;
  margin: 0;
  background: #000;
  color: white;
}

.ant-layout {
  height: 100%;
}

.ant-layout-sider {
  height: 100vh;
}

.ant-layout-content {
  overflow: auto;
  height: calc(100vh - 64px); /* Kurangi tinggi header */
}

/* Mengatur warna elemen menu yang dipilih */
.ant-menu-item-selected {
  background-color: #009233 !important; /* Warna hijau */
  color: white !important; /* Warna teks */
}

/* Opsional: Mengatur warna ikon */
.ant-menu-item-selected .anticon {
  color: white !important; /* Warna ikon */
}

ul.ant-menu{
  background: #1D1E21;
}

header.ant-layout-header{
  background: #1D1E21;
}

th.ant-table-cell{
  border-radius: 0px!important;
  padding: 0px;
  background: #111111 !important;
  color: #69FF00!important;
  border-top: 3px solid #4c4c4c!important;
  border-bottom: 3px solid #4c4c4c!important;
}

/* Hover row table */
td.ant-table-cell-row-hover{
  background: #303030 !important;
}

tr.ant-table-row{
  background: #1D1E21 !important;
  color: white!important;
}

button.ant-pagination-item-link{
  color: white!important;
}

li.ant-pagination-item{
  background: #1D1E21!important;
}

li.ant-pagination-item-active{
  border: 1px solid #69FF00!important;
}

.ant-pagination-item-active a{
  color: #69FF00!important;
}

.ant-pagination-item a{
  color: #fff!important;
}

tr.ant-table-placeholder{
  background: #1D1E21!important;
  color: white!important;
}

.tombol{
  background: #009233;
  /* font-size: 14px; */
  color: #fff;
  font-weight: bold;
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
}

.ant-empty-description{
  color: white!important;
}